<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>Device Monitoring</title>


    <link href="./semantic.min.css" rel="stylesheet">
    <script src="./jquery-3.1.1.min.js"></script>
    <script src="./semantic.min.js"></script>

    <script>
        //모바일, PC구분
        var filter = "win16|win32|win64|mac|macintel";
        if (navigator.platform) {
            if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                console.log('=============\nmobile 접속\n=============');

                $(function() {
//                  $("a").attr("href", "mo")
                    $(".navi").attr("action", "mo");
                    
                });

            } else {
                console.log('=============\npc 접속\n=============');
                $(function() {
//                  $("a").attr("href", "pc")
                    $(".navi").attr("action", "pc");
                });
            };
        }
    </script>

    <!--토글키 스타일-->
    <style>
        html, body {
         padding: 0px 400px 0px 400px;
      }
        .slideBtn {
            position: relative;
            display: block;
            width: 60px;
            height: 34px;
            background: #ccc;
        }

        .slideBtn>span {
            position: absolute;
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background: white;
            transition: .4s;
            cursor: pointer;
        }

        .slideBtn>input:checked+span {
            transform: translateX(26px);
        }

        .slideBtn>input {
            opacity: 0;
        }

        .skyblue {
            background: skyblue;
        }

    </style>

    <!--양 사이드 간격 두기-->
    <style>
        body {
            padding: 1rem;
        }

    </style>

</head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">Now Device List And Value</div>
    </div>

    <table class="ui striped table">
        <thead>
            <tr>
                <th style="width:50px;">ID</th>
                <th style="width:200px">Device</th>
                <th style="width:250px">Sensor List</th>
                <th style="width:200px;">Actuator List</th>
                <th style="width:300px; text-align: center; padding-left: 55px;">Monitoring</th>
            </tr>
<%
    var count=1;                                 
    for (let device in devicelist){
        if(devicelist[device] != undefined || devicelist[device] != null){

%>
            <tr>
                <td>
                        <h10><strong><%=device%></strong></h10>
                </td>
                <td>
<!--                <a href="tempA.html"><%= '[' + device + '] ' + devicelist[device][3]%></a>-->
<!--                    <form action="log" method="get"><input type='hidden' name= "id" value="<%=device%>"><input type="submit" value="<%= '[' + count++ + '] ' + devicelist[device][3]%>" class="ui button"></form> -->
                        <h10><%=devicelist[device].device_name%></h10>
                </td>
                <td style="text-align: left;">
                    <h10>
                        <% let str = '';%>
<%                      for(let row in devicelist[device]) {                    %>
<%                          if(row.includes('sensor')) {                        %>
<%                             str += devicelist[device][row] + ',' + ' ';      %>
<%                          }    }                                              %>
<%                      str = str.slice(0,-2);                                  %>
<%=                     str                                                     %>
</h10>
                </td>
                <td>
                    <select id="actuator" class="ui fluid search dropdown">
                        <option value="">Actuator</option>
<%                      let actuator_list = [];                                                  %>
<%                      for(let row in devicelist[device]) {                                     %>
<%                            if(row.includes('actuator')) {    
                                actuator_list.push(devicelist[device][row]);
                            }                                                                    %>
                            <option id = "options" value="<%= actuator_list%>"><%= actuator_list %></option>
<%                          actuator_list = [];                                                  %>                            
<%                      }                                                                        %>
                    </select>
                </td>

                <td style="text-align: center;">
<!--                <a href=""><button class="ui button">Monitoring</button></a>-->                
                    <form class="navi" action="" method="get" style="float: left; margin-left: 30px; padding-left: 20px;">
                        <input type='hidden' name= "id" value="<%=device%>">
                        <input type="submit" value="Monitoring" class="ui button">
                    </form>
                    <form action="log" method="get"><input type='hidden' name= "id" value="<%=device%>"><input type="submit" value="Log" class="ui button"></form>
                </td>
                    <script>
                        $('.ui.dropdown').dropdown('hidden');

                    </script>

                   
            </tr>
<%
            }
     }
%>
        </thead>
        <!--        <tbody id="my-tbody"></tbody>-->
        
    </table>
    <%//console.log(devicelist[1])%>
    <%//console.log("현재 불러와진 deviceId: " + Object.keys(devicelist))%>

</body>

</html>